<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Hello!</title>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div>
  			<h1>Hello!</h1>
		</div>
		Please enter a stock ticker you're interested in below:<br>
		<form method='post'>
			<input type="text" name="ticker"><br>
			<p><input type="submit" value="View"></p>
		</form>

	</body>
</html>
